<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lockin.engine</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH_PLACEHOLDER</string>
        <string>-m</string>
        <string>lockin.engine_main</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>LOCKIN_DIR_PLACEHOLDER/engine.log</string>
    
    <key>StandardErrorPath</key>
    <string>LOCKIN_DIR_PLACEHOLDER/engine.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>LOCKIN_DIR_PLACEHOLDER</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
